/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tit{
    font-size: 50px;
    margin-top: 20px;
    color: #033872;
}

.contenedor {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

h1 {
    font-size: 24px;
    margin: 0;
    color: #033872;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin: 0;
    color: #666;
}

.label {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

label {
    font-weight: bold;
    margin-right: 10px;
    color: #007BFF; /* Color del texto de etiqueta */
}

select, input {
    padding: 5px;
    font-size: 16px;
}

select, input, button {
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#resultadoP, #resultadoL, #resultadoT, #resultadoTi {
    font-size: 20px;
    margin-top: 10px;
    color: #009688; /* Color del texto del resultado */
}
