body{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dee7e7;
}

.imagenes{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#c1, #c2, #c3{
    width: 10%px;
}

.caja{
    width: 75%;
    display: flex;
    justify-content: space-around;

}

.generarAlea1, .generarAlea2{
    margin: 10px;
    width: 400px;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #282832;
    color: #c6d6d6;
    font-size: large;
}

.num1, .num2 {
    color: #77181e;
    font-weight: bold;
    font-size: xx-large;
}

h1{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a92727;
}